/* 
font-family: 'Inria Serif', serif;
    regular (400; italic), bold (700)

font-family: 'Josefin Sans', sans-serif;
    regular (400), light (300)
 */

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: #3f3d56;
  font-size: 1.8em;
}

h1,
h2 {
  font-family: "Inria Serif", serif;
  color: #3f3d56;
}

h2 {
  font-weight: 700;
  font-size: 3em;
}

#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0.7;
  z-index: 5;
}

#back-to-top:hover {
  cursor: pointer;
  opacity: 1;
}

#back-to-top.showBtn {
  display: block;
}

.menu {
  display: none;
}

.container {
  padding: 1rem 6rem;
  width: 100%;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

#logo {
  height: 10.5rem;
}

.navLinks {
  display: flex;
  width: 35rem;
  justify-content: space-between;
}

.navLinks a {
  font-size: 2em;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: #3f3d56;
  text-decoration: none;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0;
  transition: margin-top 0.3s ease-out;
}

#hero h1 {
  font-weight: 700;
  font-size: 4em;
  margin: 0;
  text-align: center;
}

h1 span {
  color: #ff6584;
}

#hero p {
  font-size: 2em;
  margin: 0.5em 0;
  text-align: center;
}

#hero img {
  height: 30rem;
  margin: 3rem 0;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d3f1f2;
  height: fit-content;
  margin-bottom: 5rem;
  box-shadow: 0px 12px 20px -5px rgba(63, 61, 86, 0.15);
}

.aboutContainer {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 4em;
  min-height: 600px;
  align-items: center;
  justify-items: center;
  padding: 2em 4em;
  width: 75%;
}

.pfp {
  height: 20em;
  border-radius: 50%;
  box-shadow: -5px -5px 10px 2px #ff6584;
}

.aboutText h2 {
  font-weight: 400;
}

.socials {
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;
  margin: 3em 0;
}

.socials > a > img {
  height: 50px;
}

#skills {
  display: flex;
  justify-content: center;
  margin: 5rem 0 1rem 0;
}

.skillsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: start;
  width: 80%;
  column-gap: 5em;
}

.skillsItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  text-align: center;
  margin: 1.5em 0;
}

.skillsTitle {
  display: flex;
  flex-direction: row;
  width: 200px;
  align-items: center;
  justify-content: space-around;
}

.skillsTitle img {
  height: 50px;
}

.fullstack {
  width: 240px;
}

.frontend {
  width: 240px;
}

.skillsTitle p {
  font-weight: 400;
  font-size: 2em;
}

hr {
  border: 2.5px solid #ff6584;
  width: 20rem;
  border-radius: 10px;
}

#projects {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  justify-items: center;
  width: 90%;
  margin: 3rem 0;
  gap: 5rem;
}

.projectItem {
  max-width: 450px;
  text-align: center;
  margin: 0 2em;
}

.projectItem a {
  text-decoration: none;
}

.projectItem h2 {
  font-weight: 400;
  font-style: italic;
  font-size: 1.75em;
  margin-bottom: 0;
}

.projectItem a:hover h2 {
  color: #ff6584;
}

#projects img {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-color: #d9d9d9;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px rgba(63, 61, 86, 0.2);
}

.outline {
  position: relative;
  height: 350px;
  width: 100%;
  transition: transform 0.3s ease;
}

.outline::after {
  content: "";
  outline: black 1px solid;
  border-radius: 30px;
  inset: 0;
  position: absolute;
  transform: translate(-15px, -15px);
  z-index: -1;
  transition: transform 0.3s ease;
}

.projectItem a:hover .outline {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.projectItem a:hover .outline::after {
  transform: translate(-22px, -25px);
  transition: transform 0.3s ease;
}

#contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 3rem 0;
  gap: 5rem;
}

#contact img {
  height: 30rem;
}

.contactCta {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  text-align: center;
}

.contactCta button {
  background-color: #abdfe2;
  border: none;
  border-radius: 100px;
  font-size: 2em;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: #3f3d56;
  height: 2.5em;
  width: 8em;
  margin-top: 2em;
  transition: transform 0.3s ease;
}

.contactCta button:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.contactCta button:focus-visible {
  outline: none;
}

footer {
  position: relative;
  margin-top: 10rem;
  bottom: 0;
  text-align: center;
  font-size: 0.5em;
  border-bottom: #abdfe2 20px solid;
}

a:hover {
  color: #ff6584;
}

/* for screens 1024px and smaller */
@media (max-width: 1024px) {
  #logo {
    height: 8rem;
  }

  .container {
    padding: 1rem 4rem;
  }

  .navLinks {
    width: 30rem;
  }

  #hero h1 {
    font-size: 3em;
  }

  #hero p {
    font-size: 1.5em;
  }

  .aboutContainer {
    display: flex;
    flex-direction: column;
  }

  .pfp {
    height: 15em;
    margin-top: 2em;
  }

  .aboutText {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .aboutText h2 {
    margin-top: 0;
  }

  .skillsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    width: auto;
    justify-content: center;
  }

  .skillsItem p {
    font-size: 1.6em;
  }

  #contact {
    flex-direction: column;
  }

  .contactCta {
    width: auto;
  }

  #contact img {
    height: 23rem;
  }

  #back-to-top {
    bottom: 15px;
    right: 15px;
    opacity: 1;
  }
}

@media (max-width: 768px) {
  #logo {
    height: 8rem;
  }

  .container {
    padding: 1em 2em;
  }

  .navLinks a {
    font-size: 1.8em;
  }

  #hero img {
    height: 20rem;
  }

  .pfp {
    height: 13em;
  }

  .contactCta h2 {
    font-size: 2.5em;
  }

  #contact img {
    height: 18rem;
  }

  .contactCta button {
    font-size: 1.5em;
  }
}

/* for screens 600px and smaller; will show hamburger menu */
@media (max-width: 600px) {
  #logo {
    height: 6rem;
  }

  p {
    font-size: 1.5em;
  }

  #hero {
    margin: 3rem 0;
  }

  .navLinks {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    position: absolute;
    height: 18rem;
    background-color: white;
    justify-content: center;
    left: 0;
    align-items: center;
    justify-items: center;
    top: -25rem;
    width: 100%;
    box-shadow: 0px 12px 20px -5px rgba(63, 61, 86, 0.15);
    transition: all 0.4s ease-out;
    z-index: 0;
  }

  .navLinks a {
    display: block;
    width: 100%;
    text-align: center;
  }

  .menu {
    display: block;
    z-index: 2;
  }

  #hero p {
    font-size: 1.5em;
  }

  #hero img {
    height: 15rem;
  }

  .aboutContainer {
    padding: 2em 0;
  }

  #contact img {
    height: 12rem;
  }

  /* toggle menu */
  .navLinks.showMenu {
    padding-top: 32rem;
  }

  /* push content down */
  #hero.marginTop {
    margin-top: 21rem;
    transition: margin-top 0.5s ease-out;
  }
}

@media (max-width: 500px) {
  .projectsContainer {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }

  .skillsItem p {
    font-size: 1.4em;
  }
}

@media (max-width: 425px) {
  #hero img {
    height: 10rem;
  }
}

/* for mobile */
@media (max-width: 375px) {
  #hero h1 {
    font-size: 2em;
  }

  #hero p {
    font-size: 1.3em;
  }

  .outline {
    height: 230px;
  }

  .pfp {
    height: 11em;
  }

  .aboutText h2 {
    font-size: 2.5em;
  }

  .aboutText p {
    font-size: 1.5em;
  }

  .skillsItem p {
    font-size: 1.3em;
  }

  hr {
    width: 15rem;
  }

  .contactCta p {
    font-size: 1.4em;
  }

  #back-to-top {
    bottom: 13px;
    right: 13px;
  }
}
