body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: white;
  min-height: 100vh;
}

p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: #3f3d56;
  font-size: 1.2em;
  margin: 5px 0;
}

h1 {
  font-family: "Inria Serif", serif;
  color: #ff6584;
}

#submitted {
  width: 5rem;
}

.thankYouBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 80%;
}

footer {
  position: relative;
  margin-top: 10rem;
  bottom: 0;
  text-align: center;
  font-size: 0.5em;
  border-bottom: #abdfe2 20px solid;
}

.back {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: #3f3d56;
  font-size: 1.2em;
  margin: 2rem 0;
}

.back:hover {
  color: #ff6584;
}